---
import { Image } from 'astro:assets';
import Card from '@src/components/Card.astro';
import ProfessionalLayout from '@src/layouts/ProfessionalLayout.astro';
import projects from '@data/professional/projects.js';
import iconMap from '@data/professional/iconData';
import ExternalLink from '@src/components/ExternalLink.astro';

import GithubIcon from '~icons/fa6-brands/github';
import ExternalLinkIcon from '~icons/tabler/external-link';
import PhotoVideoIcon from '~icons/fa-solid/photo-video';
---

<ProfessionalLayout metaTags={{ title: 'Projects' }}>
  <h1 class="title">Projects</h1>
  {
    projects.map((project) => (
      <Card>
        <h3>{project.title}</h3>
        <p class="project-description">{project.description}</p>
        <div class="tech-icons">
          {project?.url && (
            <ExternalLink href={project.url}>
              <ExternalLinkIcon class="project-icon external-url" />
            </ExternalLink>
          )}
          {project?.github && (
            <ExternalLink href={project.github}>
              <GithubIcon class="project-icon github" />
            </ExternalLink>
          )}
          {project.mediaName && (
            <ExternalLink href="/images/SmithPlot.png">
              <PhotoVideoIcon class="project-icon" />
            </ExternalLink>
          )}
        </div>
        <div class="made-with">
          <h3>Made With</h3>
          <div class="tech-icons">
            {project.icons.map((iconName) => (
              <ExternalLink href={iconMap[iconName].url}>
                <Image src={iconMap[iconName].icon} height="40" alt={`Icon for ${iconMap[iconName].url}`}/>
              </ExternalLink>
            ))}
          </div>
        </div>
      </Card>
    ))
  }
</ProfessionalLayout>

<style>
  .title {
    text-align: center;
  }

  .project-description {
    font-size: 0.9em;
  }

  .made-with {
    text-align: center;
    margin: 1em auto 0 auto;

    & > h3 {
      margin: 0.25em auto;
    }
  }

  .project-icon {
    font-size: 40px;
  }

  .github {
    color: #6e5494;
  }

  .external-url {
    color: var(--color1);
  }

  .tech-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > a {
      margin: 0.5em 0.5em;
    }
  }
</style>
