---
import BaseImage from './BaseImage.astro';
import SlideshowIcon from '~icons/tabler/slideshow';
import 'photoswipe/style.css';
import 'photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css';

import type { BuildImagesData } from '@src/utils/images';
import {  buildImages } from '@src/utils/images';

export type Props = {
  preview: {
    title: string;
    path: string;
    name: string;
  };
  images: BuildImagesData;
};

const { images, preview } = Astro.props as Props;

const imageData = await buildImages(images);
---

<div>
  <button data-images={JSON.stringify(imageData)} class="gallery-button">
    <BaseImage
      path={preview.path}
      name={preview.name}
      alt={preview.title}
      borderRadiusTop="1em"
      widths={[400, 800]}
    />
    <SlideshowIcon class="gallery-icon" />
    <h5 class="title">{preview.title}</h5>
    <p class="prompt"><em>Click to Open</em></p>
  </button>
</div>

<style>
  .title {
    text-align: center;
    margin: 0.5em auto;
  }

  .gallery-button {
    all: unset;
    display: block;
    cursor: pointer;
    margin: 1em auto;
    max-width: 400px;
    box-shadow: 0 4px 8px #002d5baa;
    transition: var(--dt);
    border-radius: 1em;

    &:hover {
      box-shadow: 0 8px 16px #002d5baa;
    }
  }

  .gallery-icon {
    display: block;
    margin: 0.25em auto;
    font-size: 4em;
    color: var(--color1);
  }

  .prompt {
    font-size: 1rem;
    text-align: center;
  }

  .selected {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .unselected {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
</style>

<script>
  import initializePhotoGalleries from '@src/scripts/imageGallery';

  // for SPA ViewTransitions
  document.addEventListener('astro:after-swap', () => {
    initializePhotoGalleries();
  });

  // For hard reloads
  document.addEventListener('astro:page-load', () => {
    initializePhotoGalleries();
  }, { once: true });
</script>
