---
import type { PostFrontmatter } from '@src/types';
import type { MDXInstance, Page } from 'astro';
import PostCard from './PostCard.astro';
import ChevronRight from '~icons/tabler/circle-chevron-right';
import ChevronLeft from '~icons/tabler/circle-chevron-left';

export type Props = {
  page: Page<MDXInstance<PostFrontmatter>>;
  title?: string;
};

const { page, title } = Astro.props;
---

<div>
  {title && <h1 class="sections-title">{title}</h1>}
  <div>
    {page.data.map((post) => <PostCard post={post} />)}
  </div>
  <div class="pagination">
    <a href={page?.url?.prev} class:list={[{ hidden: !page?.url?.prev }]}>
      <ChevronLeft />
    </a>
    {
      page.lastPage > 1 && (
        <p>
          {page.currentPage} of {page.lastPage}
        </p>
      )
    }
    <a href={page.url.next} class:list={[{ hidden: !page?.url?.next }]}>
      <ChevronRight />
    </a>
  </div>
</div>

<style lang="css">
  .sections-title {
    text-align: center;
  }

  .hidden {
    visibility: hidden;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 2em;
    margin-bottom: 2em;

    & > p {
      font-family: 'Fira Sans', sans-serif;
      color: var(--color1);
      margin: 0 1em;
    }

    & > a {
      font-size: 2em;
      color: var(--color1);

      & :hover {
        color: var(--color4);
        transition: color 300ms;
      }
    }
  }
</style>
