---
import { MarkdownInstance } from 'astro';
export type Props = {
  posts: MarkdownInstance<PostFrontmatter>[];
  tagData: Tag;
};

import { tags } from '@data/tags';
import { PostFrontmatter, Tag } from 'src/types';
import { queryPosts } from '@utils/posts';
import BlogLayout from '@layouts/BlogLayout.astro';

export const getStaticPaths = async () => {
  console.log('Building paths for blog tags');

  const allPosts = [
    ...(await Astro.glob<PostFrontmatter>('../posts/*.md')),
    ...(await Astro.glob<PostFrontmatter>('../posts/*.mdx')),
  ];

  return tags['blog'].map((tag) => {
    const posts = queryPosts(allPosts, { tag: tag.name });
    return {
      params: { tag: tag.name },
      props: { posts, tagData: tag },
    };
  });
};

const { posts, tagData } = Astro.props as Props;
---

<BlogLayout metaTags={{ title: `JG - ${tagData.title}` }}>
  <h1>{tagData.title}</h1>
  {
    posts.map((post) => (
      <a href={post.url}>
        <div>
          {post.frontmatter.title} - {post.frontmatter.date}
        </div>
      </a>
    ))
  }
</BlogLayout>
